.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* -----------------------------------*/
#contact .container .contact-info{
  background: #fff;
  padding: 40px 40px 150px 30px;
}

#chip-work:hover{
  background-color: #2196f3;
  color: #fff;
}

#chip-skill{
  background-color: #eeeeee;
  color: #2196f3;
}

#chip-skill:hover{
  background-color: #fff;
  color: #2196f3;
}

#work-hover:hover{
  color: #2196f3;
}

#preloader{
  /*position: fixed;*/
  margin-top: 20%;
  margin-left: 46%;
  margin-bottom: 100%;
  /*width: 100%;*/
  /*height: 100%;*/
}


/*@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }


  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    margin-bottom: 30px;
  }

  .jumbotron {
    border-bottom: 0;
  }
}*/

/* media queries:  change number of items per row */
@media screen and (max-width: 1190px) {
  

}

@media screen and (max-width: 1024px) {
  .cd-timeline-block{
    padding-top: 4%;
    padding-bottom: 1%;
  }

  #preloader{
  margin-top: 20%;
  margin-left: 2%;
  margin-bottom: 100%;
  }

}


@media screen and (max-width: 768px) {
  .cd-timeline-block{
    padding-top: 6%;
    padding-bottom: 1%;
  }

  #preloader{
  margin-top: 20%;
  margin-left: 4%;
  margin-bottom: 100%;
  }
}

@media screen and (max-width: 480px) {
  .cd-timeline-block{
    padding-top: 7%;
    padding-bottom: 1%;
  }

  #preloader{
  margin-top: 18%;
  margin-left: 4%;
  margin-bottom: 100%;
  }

}

@media screen and (max-width: 300px) {

  #intro-responsive {
     max-width: 262px;
  }

  #btn-responsive{
    margin-left: -10%;
  }

  #preloader{
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: 100%;
  }
}